<h1>Beards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Awesomeness</th>
    <th>Age</th>
  </tr>
  {{ range . }}
  <tr>
    <td><a href="/{{ .ID }}">{{ .Name }}</a></td>
    <td>{{ .Type }}</td>
    <td>{{ .Awesomeness }}</td>
    <td>{{ .Age }}</td>
  </tr>
  {{ end }}
</table>
