<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Go Beaerds!</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
  <nav class="blue">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">
          <a href="#" class="brand-logo center">Go Beards!</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li><a href="/new">Upload a new beard</a></li>
            </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    {{ yield }}
  </body>
</html>
